/* GENERAL */
html {
    height: 100%;
}
textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ta {
    border-style: none;
    resize: none;

    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    width: 100%
}
