<!DOCTYPE html>
<html lang="en">

<head>

<!-- css -->
<link rel="stylesheet" href="/static/css/theme.css">

<!-- js -->
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/theme.js"></script>

</head>

<body>

    <title>pomotime</title>


    <div class="title-container">
      <p>Pomodoro Timer</p>
    </div>

    <script type="text/javascript">
     function wsInit() {

        var ws = new WebSocket("ws://127.0.0.1:5000/ws");

        ws.onmessage = function (evt) {
          console.log(evt.data);
          if(evt.data != "alarm") {
             var ta = document.getElementById("ta");
             var ti = evt.data.replace(/['"]+/g, '');
             ta.value = ti
           }
         };
      }
    </script>

    <script type="text/javascript">
    function alarmSub() {
      $('#start').addClass("disabled")
      $('#stop').removeClass("disabled")
      $('#pomo').addClass("disabled")
      $('#short').addClass("disabled")
      $('#long').addClass("disabled")

      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "start-timer"
        ws.send(v);
        };

      ws.onmessage = function (evt) {
        console.log(evt.data);

        if(evt.data != "alarm" && evt.data != "25:00") {
           var ta = document.getElementById("ta");
           var ti = evt.data.replace(/['"]+/g, '');
           ta.value = ti
         }

        if(evt.data == "alarm") {
           playTone()
           alarmReset()
         }
       };
      };
    </script>

    <script type="text/javascript">
    function alarmStop() {
      $('#reset').removeClass("disabled")
      $('#resume').removeClass("disabled")
      $('#stop').addClass("disabled")
      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "stop-timer"
        ws.send(v);
        };
      };
    </script>


    <script type="text/javascript">
    function alarmResume() {
      $('#resume').addClass("disabled")
      $('#reset').addClass("disabled")
      $('#stop').removeClass("disabled")

      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "resume-timer"
        ws.send(v);
      };

      ws.onmessage = function (evt) {
        console.log(evt.data);

        if(evt.data != "25:00") {
           var ta = document.getElementById("ta");
           var ti = evt.data.replace(/['"]+/g, '');
           ta.value = ti
         }

        if(evt.data == "alarm") {
           playTone()
           alarmReset()
         }
       };

      };
    </script>

    <script type="text/javascript">
    function alarmReset() {
      $('#reset').addClass("disabled")
      $('#resume').addClass("disabled")
      $('#stop').addClass("disabled")
      $('#start').removeClass("disabled")

      $('#pomo').removeClass("disabled")
      $('#short').removeClass("disabled")
      $('#long').removeClass("disabled")
      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "reset-timer"
        ws.send(v);
      };

      var ta = document.getElementById("ta");

      var active = document.getElementById("pomo");
      if (active.className == "active") {
          var time = "25:00"
          ta.value = time;
          $('#pomo').addClass("disabled")
          console.log(ta.value)
      }

      var active = document.getElementById("long");
      if (active.className == "active") {
          var time = "10:00"
          ta.value = time;
          $('#long').addClass("disabled")
          console.log(ta.value)
      }

      var active = document.getElementById("short");
      if (active.className == "active") {
          var time = "05:00"
          ta.value = time;
          $('#short').addClass("disabled")
          console.log(ta.value)
      }

    }

    </script>

    <script type="text/javascript">
    function pomoTime() {
      $('#pomo').addClass("disabled")
      $('#short').removeClass("disabled")
      $('#long').removeClass("disabled")

      $('#pomo').addClass("active")
      $('#long').removeClass("active")
      $('#short').removeClass("active")

      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "25"
        ws.send(v);
      };

      var ta = document.getElementById("ta");
      var ti = "25:00";
      ta.value = ti;

    }

    </script>

    <script type="text/javascript">
    function shortTime() {
      $('#short').addClass("disabled")
      $('#pomo').removeClass("disabled")
      $('#long').removeClass("disabled")

      $('#short').addClass("active")
      $('#long').removeClass("active")
      $('#pomo').removeClass("active")

      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "5"
        ws.send(v);
      };

      var ta = document.getElementById("ta");
      var ti = "05:00";
      ta.value = ti;

    };
    </script>

    <script type="text/javascript">
    function longTime() {
      $('#long').addClass("disabled")
      $('#pomo').removeClass("disabled")
      $('#short').removeClass("disabled")

      $('#long').addClass("active")
      $('#short').removeClass("active")
      $('#pomo').removeClass("active")


      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "10"
        ws.send(v);
      };

      var ta = document.getElementById("ta");
      var ti = "10:00";
      ta.value = ti;
    };
    </script>



    <script>
     $(document).ready(function() {
        $('#stop').addClass("disabled")
        $('#reset').addClass("disabled")
        $('#resume').addClass("disabled")
        $('#pomo').addClass("disabled")
        $('#pomo').addClass("active")
        $('#short').removeClass("disabled")
        $('#long').removeClass("disabled")
      });
    </script>


    <script type="text/javascript">
        wsInit()
    </script>

    <div class="time-container">
      <textarea readonly="readonly" unselectable="on" id="ta"></textarea>
    </div>
    <br>
    <div class="alarm">
      <input type="button" value="Pomodoro" onclick="pomoTime()" id="pomo">
      <div class="space"></div>
      <input type="button" value="Short Break" onclick="shortTime()" id="short">
      <div class="space"></div>
      <input type="button" value="Long Break" onclick="longTime()" id="long">
    </div>
    <br>
    <div class="alarm">
      <input type="button" value="Start" onclick="alarmSub()" id="start">
      <div class="space"></div>
      <input type="button" value="Stop" onclick="alarmStop()" id="stop">
      <div class="space"></div>
      <input type="button" value="Resume" onclick="alarmResume()" id="resume">
      <div class="space"></div>
      <input type="button" value="Reset" onclick="alarmReset()" id="reset">
    </div>

</body>

</html>
