<!DOCTYPE html>
<html lang="en">

<head>

<!-- css -->
<link rel="stylesheet" href="/static/css/theme.css">

</head>

<body>

    <title>Alarm/Timer</title>

    <script type="text/javascript">
     function wsInit() {

        var ws = new WebSocket("ws://127.0.0.1:5000/ws");

        ws.onmessage = function (evt) {
           var ta = document.getElementById("ta");
           var ti = evt.data.replace(/['"]+/g, '');
           ta.value = ti
        };
      }
    </script>

    <script type="text/javascript">
        wsInit()
    </script>

    <textarea id="ta"></textarea>

</body>

</html>
