<!DOCTYPE html>
<html lang="en">

<head>

<!-- css -->
<link rel="stylesheet" href="/static/css/theme.css">

<!-- js -->
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/theme.js"></script>

</head>

<body>

    <title>pomotime</title>


    <div class="title-container">
      <p>Pomodoro Timer</p>
    </div>

    <script type="text/javascript">
     function wsInit() {

        var ws = new WebSocket("ws://127.0.0.1:5000/ws");

        ws.onmessage = function (evt) {
          console.log(evt.data);
          if(evt.data != "alarm") {
             var ta = document.getElementById("ta");
             var ti = evt.data.replace(/['"]+/g, '');
             ta.value = ti
           }
         };
      }
    </script>

    <script type="text/javascript">
    function alarmSub() {
      $('#start').addClass("disabled")
      $('#stop').removeClass("disabled")

      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "start-timer"
        ws.send(v);
        };

      ws.onmessage = function (evt) {
        console.log(evt.data);

        if(evt.data != "alarm") {
           var ta = document.getElementById("ta");
           var ti = evt.data.replace(/['"]+/g, '');
           ta.value = ti
         }

        if(evt.data == "alarm") {
           playTone()
           alarmReset()
         }
       };
      };
    </script>

    <script type="text/javascript">
    function alarmStop() {
      $('#reset').removeClass("disabled")
      $('#resume').removeClass("disabled")
      $('#stop').addClass("disabled")
      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "stop-timer"
        ws.send(v);
        };
      };
    </script>


    <script type="text/javascript">
    function alarmResume() {
      $('#resume').addClass("disabled")
      $('#reset').addClass("disabled")
      $('#stop').removeClass("disabled")

      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "resume-timer"
        ws.send(v);
      };

      ws.onmessage = function (evt) {
        console.log(evt.data);

        if(evt.data != "25:00") {
           var ta = document.getElementById("ta");
           var ti = evt.data.replace(/['"]+/g, '');
           ta.value = ti
         }

        if(evt.data == "alarm") {
           playTone()
           alarmReset()
         }
       };

      };
    </script>

    <script type="text/javascript">
    function alarmReset() {
      $('#reset').addClass("disabled")
      $('#resume').addClass("disabled")
      $('#stop').addClass("disabled")
      $('#start').removeClass("disabled")
      var ws = new WebSocket("ws://127.0.0.1:5000/ws");

      ws.onopen = function() {
        var v = "reset-timer"
        ws.send(v);
      };

      var ta = document.getElementById("ta");
      var ti = "25:00";
      ta.value = ti;
      };
    </script>

    <script>
     $(document).ready(function() {
        $('#stop').addClass("disabled")
        $('#reset').addClass("disabled")
        $('#resume').addClass("disabled")
      });
    </script>


    <script type="text/javascript">
        wsInit()
    </script>

    <div class="time-container">
      <textarea readonly="readonly" unselectable="on" id="ta"></textarea>
    </div>

    <div class="alarm">
      <input type="button" value="Start" onclick="alarmSub()" id="start">
      <div class="space"></div>
      <input type="button" value="Stop" onclick="alarmStop()" id="stop">
      <div class="space"></div>
      <input type="button" value="Resume" onclick="alarmResume()" id="resume">
      <div class="space"></div>
      <input type="button" value="Reset" onclick="alarmReset()" id="reset">
    </div>

</body>

</html>
